/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin: 0;
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ededeb;
}

.jumbotron {
  margin-top: -20px;
  background-color: #fff;
}

#field-list.affix-top {
  position: static;
}

@media (min-width: 768px) {
  #field-list.affix, #field-list.affix-top {
    width:186px;
  }
}
@media (min-width: 970px) {
  #field-list.affix, #field-list.affix-top {
    width:243px;
  }
}
@media (min-width: 1200px) {
  #field-list.affix, #field-list.affix-top {
    width:291px;
  }
}


#field-list {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

#field-list .optionTitle {
  background: none repeat scroll 0% 0% #FAFAFA;
  border-bottom: 2px solid #EEE;
  border-top: 1px solid #EEE;
  color: #999;
  font: 1.2em "jubilat";
  padding: 10px;
}

#field-list ul li {
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid #EEE;
  font-size: 1.15em;
  cursor: grab;
}

#field-list ul li:hover {
  background: none repeat scroll 0% 0% #FAFAFA;
  cursor: pointer;
}

#field-list ul {
  background: none repeat scroll 0% 0% #FFF;
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#elements li {
  cursor: pointer;
}

#form-container, #form-viewer-container {
  background: none repeat scroll 0% 0% #FFF;
}

#form-container {
  margin: 0;
  padding: 0;
}

#form-container header {
  background: none repeat scroll 0% 0% #FAFAFA;
  border-bottom: 1px solid #EEE;
  padding: 15px;
  height: 65px;
}

#form-container header a.btn {
	margin-right: 5px;
}

#form-editor-elements, #form-viewer-elements {
  padding: 15px;
}

#form-viewer-elements {
  padding-bottom: 30px;
}

.form-editor-element {
	position: relative;
}

.form-editor-element:hover {
  background: none repeat scroll 0% 0% #FAFAFA;
  cursor: pointer;
}

.form-editor-element .popover {
	display: block !important;
	min-height: 150px;
	top: -40px;
	left: -205px;
}

.form-editor-element .row {
	padding: 20px;
}

.form-editor-element a.delete-link {
  display: none;
}

.form-editor-element:hover .delete-link {
  display: inline;
  cursor: pointer;
}

.right {
	text-align: right;
}
.center {
	text-align: center;
}

ol {
	list-style-type: none;
}

ol li {
	margin: 5px;
}

.spin {
  -webkit-animation: spin .5s infinite linear;
  -moz-animation: spin .5s infinite linear;
  -o-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
