.topPadding {
  margin-top: 100px;
}

.noForms {
  color: #999;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -291px;
}

/*-----------------------------------
| Form Builder
------------------------------------*/
.formBuilder {
  background: #fff;
}

#canvas {
  width: 685px;
}

.draghover {
  border: 5px dashed #ccc;
}
