<div class="modal">
	<div class="modal-header">
		<button type="button" class="close cancelButton" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Embed Code</h3>
	</div>
	<div class="modal-body">
	<p>Copy and paste the following code to display your form on your website.</p>
	<pre>&lt;iframe src="http://formerapp.com/f/<%= secret %>/embed" width="650" height="500" scrolling="no" frameborder="0" border="0"&gt;&lt;/iframe&gt;</pre>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn cancelButton">Close</a>
	</div>
</div>